@import "tailwindcss";

@theme {
  --color-beige: #D0B9A1;
  --color-dark: #46402A;
  --color-light-gray: #D9D9D9;
  --color-medium-gray: #B3B3B3;
  --color-green: #AADBC5;
  --color-blue: #73A1AC;
  --color-light-orange: #FFC93D;
  --color-orange: #F5BE30;
  --color-dark-gray: #6D6D6D;
  --color-alert: #D65C5C;

  --font-sans: "Roboto", sans-serif;
  --font-serif: "Roboto Serif", serif;
  --font-slab: "Roboto Slab", serif;
}
